<div>
    <div class="items">
        <div class="table">
            <table *ngIf="products.length;else falseBox">
                <thead>
                    <tr>
                        <th>serial no</th>
                        <th>product name</th>
                        <th>Product image</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th>Action</th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr *ngFor="let item of products; let i=index" border>
                        <td>{{i+1}}</td>
                        <td width="12%">{{item.title}}</td>
                        <td><img src="{{item.image}}" width="120px" alt=""></td>
                        <td width="25%">{{item.description}}</td>
                        <td width="7%" style="text-align: center;">{{item.price}}</td>
                        <td width="7%" style="text-align: center;">{{item.quantity}}</td>
                        <td width="7%" style="text-align: center;">{{item.price}}</td>
                        <button (click)="removeItem(i)"><i style="color: red;"class="fas fa-trash-alt"></i></button>
                    </tr>
                    <tr>
                        <td colspan="4"></td>
                        <td><button (click)="emptyCart()">Empty Cart</button></td>
                        <td style="text-align: center;"><i (click)="allProducts()" style="color: green; font-size: 40px;" class="fas fa-plus-square"></i></td>
                        <td><button>Purchase</button></td>
                        <td>Grand Total:{{grandTotal}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<ng-template #falseBox>
    <div class="container">
        <div class="overall">
            <div class="card"><h2>My Cart</h2></div>
            <div class="center">
                <img src="https://cdn.pixabay.com/photo/2015/11/06/11/49/shopping-cart-1026507__340.jpg" alt="">
                <h4>Your cart is empty</h4>
                <h6>Add item to it now</h6>
                <div class="btn" (click)="allProducts()">Shop Now</div>

            </div>
        </div>
    </div>
</ng-template>
