<div class="formContainer">
    <div class="mainLogin">
        
        <div class="formDiv">
            <p>LOGIN HERE</p>
            <form [formGroup]="form" (ngSubmit)="onLogin()">
                <label for="email" style="text-align: left;">Input Email</label><br>
                <input type="email" formControlName="email"  placeholder="Email"><br><br>
                <label for="password" style="text-align: left;">Input Password</label><br>
                <input type="password" formControlName="password"  placeholder="Password" required><br><br>
    
                <input type="submit" value="Login">
            </form>
            
        </div>
    </div>
</div>
