<div>
    <div class="main">
        <div class="formDiv">
            <form [formGroup]="form" (ngSubmit)="onLogin()">
                <label for="email" >Input Email</label><br>
                <input type="email" formControlName="email" class="form-control" placeholder="Email"><br><br>
                <label for="password">Input Password</label><br>
                <input type="password" formControlName="password" class="form-control" placeholder="Password" required><br><br>
    
                <input type="submit" value="Login">
            </form>
            
        </div>
    </div>
</div>
