*{
    box-sizing: border-box;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.formDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25vw;
    background-color: rgb(30, 162, 206);
    padding: 20px;
    text-align: center;
    font-size: 22px;
}

input{
    width:20vw;
    margin-top: 10px;
    padding:5px;
    border:none;
    border-radius: 5px;
}
input[type="submit"]{
    background-color: green;
    border:none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}